/* DEBUG */
[class*="col"] {
  background-color: pink;
  border: 1px solid red;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Roboto';
}

a {
  color: #c5c9ce;
  text-decoration: none;
}
a:hover {
  color: black;
  cursor: pointer;
}


/* WRAPPER */
.wrapper {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
}
/* NAV */
nav {
  display: flex;
  justify-content: space-between;
}

ul li {
  display: inline-block;
  color: #c5c9ce;
}
ul li:hover {
  color: black;
  cursor: pointer;
}
ul li img {
  height: 20px;
  vertical-align: text-bottom;
}
.nav {
  line-height: 30px;
}
.nav.left > li {
  padding-right: 20px;
}
.nav.right > li {
  padding-left: 20px;
}
.menu {
  position: relative;
}
.dropdown {
  width: 200%;
  position: absolute;
  top: 100%;
  left: -10%;
  padding: 0 10px;
  box-shadow: -1px 11px 20px -8px rgba(0,0,0,0.75);
  display: none;
}
.dropdown.attivo {
  display: block;
}
.dropdown li {
  padding: 5px 0;
  display: block;
}

span {
  color: #eb008d;
  position: relative;
  top: -10px;
}
