/* DEBUG */
/* [class*="col"] {
  background-color: pink;
  border: 1px solid red;
} */

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Roboto';
}

a {
  color: #9ea0a1;
  text-decoration: none;
}
a:hover {
  color: black;
  cursor: pointer;
}

/* WRAPPER */
.wrapper {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
}
/* NAV */
nav {
  display: flex;
  justify-content: space-between;
}
ul li {
  display: inline-block;
  color: #9ea0a1;
}
ul li:hover {
  color: black;
  cursor: pointer;
}
ul li img {
  height: 20px;
  vertical-align: text-bottom;
}
.nav {
  line-height: 30px;
}
.nav.left > li {
  padding-right: 20px;
}
.nav.left > li:nth-child(2) {

}
.nav.right > li:not(:last-child) {
  padding-left: 20px;
}
.nav.right > li:last-child {
  margin-left: 20px;
}
.menu {
  position: relative;
}
.dropdown {
  min-width: 400%;
  position: absolute;
  top: 100%;
  left: -10%;
  padding: 0 20px;
  box-shadow: -1px 11px 20px -15px rgba(0,0,0,0.75);
  display: none;
}
.dropdown.attivo {
  display: flex;
  flex-direction: column;
}
.dropdown li {
  padding: 10px 0;
  display: block;
}
span {
  color: #eb008d;
  position: relative;
  top: -10px;
}
.viola {
  background-color: #eb008d;
  padding: 0 15px;
  border-radius: 20px;
  border: 1px solid white;
}
.viola a {
  color: white;
}
.viola:hover {
  background-color: white;
  padding: 0 15px;
  border-radius: 20px;
  border: 1px solid #eb008d;
}
.viola:hover a {
  color: #eb008d;
}
.lang {
  position: relative;
}
.lang i {
  display: none;
}
.lang i.attivo {
 display: inline-block;
}
